{% extends "template.html" %}
{% block content %}

<script>
  function generateQRCode() {
    var textInput = $("#textInput").val().trim();
    if (textInput) {
      if (textInput.length > 1500) {    // word limit: 1500
        $("#alert").css("visibility", "visible");
      } else {
        $("#alert").css("visibility", "hidden");
      }
      $("#qrcode").html("");
      new QRious({
        element: document.getElementById("qrcode"),
        value: getPasteURL(textInput),
        size: 400
      });
    } else {
      clearField();
    }
  }

  function getPasteURL(text){
    return document.URL + "/" + encodeURIComponent(text);
  }

  function clearField() {
    $("#textInput").val("");
    $("#alert").css("visibility", "hidden");
    $("#qrcode-container").html('<canvas id="qrcode"></canvas>');
  }

  $(window).on("load", function () {
    $("#textInput").on("keypress", function (event) {
      if (event.key === "Escape") {
        event.preventDefault();
        $("#textInput").blur();
      }
    });
  });

</script>

<div>
  <textarea type="text" class="form-control mb-4" placeholder="Enter text here" id="textInput" maxlength="1501" rows="4"
    oninput="generateQRCode()"></textarea>
  <div class="mb-4">
    <button type="button" class="btn btn-outline-secondary" id="clear" onclick="clearField()">Clear</button>
    <button type="button" class="btn btn-primary" id="generate" onclick="generateQRCode()">Generate QR Code</button>
  </div>
</div>

<div id="qrcode-container" class="text-center">
  <canvas id="qrcode"></canvas>
</div>

{% endblock %}