{% extends "template.html" %}
{% block content %}

<div class="col-lg-6 mx-auto">
  <p class="mx-4 mt-4 px-4 py-4 alert alert-primary" id="alert">Exceeding character limit!</p>
</div>

<div class="container">
  <div class="px-4 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">QR Copy</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Copy and paste across devices text using QR code, without Internet</p>
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Enter text here" id="textInput" maxlength="1501"
          oninput="generateQRCode()">
        <button type="button" class="btn btn-outline-secondary" id="clear" onclick="clearField()">Clear</button>
        <button type="button" class="btn btn-primary" id="generate" onclick="generateQRCode()">Generate QR Code</button>
      </div>
    </div>
  </div>
</div>

<div id="qrcode-container" class="text-center">
  <canvas id="qrcode"></canvas>
</div>

{% endblock %}