{% extends "template.html" %}
{% block content %}

<script>
  function adjustTextareaSize() {
    $("#textOutput").css("height", "auto");
    $("#textOutput").css("height", $("#textOutput").prop("scrollHeight") + "px");
  }

  function copyToClipboard() {
    $("#textOutput").select(); // Select the textarea's content
    // textarea.setSelectionRange(0, 99999); // For mobile devices
    document.execCommand("copy");
  }

  $(window).on("load", function () {
    adjustTextareaSize();
  });

</script>

<div>
  <textarea type="text" class="form-control mb-4" id="textOutput" readonly>{{text}}</textarea>
  <button type="button" class="btn btn-primary mb-4" onclick="copyToClipboard()">Copy to clipboard</button>
</div>

{% endblock %}