{% extends "template.html" %}
{% block content %}

<script>
  function adjustTextareaSize() {
    $("#textOutput").css("height", "auto");
    $("#textOutput").css("height", $("#textOutput").prop("scrollHeight") + "px");
  }

  function copyToClipboard() {
    $("#textOutput").select(); // Select the textarea's content
    // textarea.setSelectionRange(0, 99999); // For mobile devices
    document.execCommand("copy");
  }

  function decodeText(){
    $("#textOutput").val(decodeURIComponent("{{text}}"));
  }

  $(window).on("load", function () {
    decodeText();
    adjustTextareaSize();
  });

</script>

<div>
  <textarea type="text" class="form-control mb-4" id="textOutput" readonly></textarea>
  <div class="mb-4">
    <a type="button" class="btn btn-outline-secondary" id="clear" href="{{url_for('copy')}}">Return</a>
    <button type="button" class="btn btn-primary" onclick="copyToClipboard()">Copy to clipboard</button>
  </div>

</div>

{% endblock %}